<div class="sidebar__container">
	{% include toggleSidebar.html %}
<nav class="sidebar hidden" id="mobile-menu">
	<div id="medium-title">Gallery navigation</div>
	<!-- This is manually added for now. Add the new category under _pages > art-categories. Copy one of the existing files, change the front matter
	and the if statement to look for the new string. -->
	<ul>
		<li><a href="/illustrations-2023">Illustrations 2023</a></li>
		<li><a href="/illustrations-2022">Illustrations 2022</a></li>
		<li><a href="/illustrations-2021">Illustrations 2021</a></li>
		<li><a href="/illustrations-2018">Illustrations 2018</a></li>
		<li><a href="/witchtober-2017">Witchtober 2017</a></li>	
		<li><a href="/petsite-related">Petsite Related</a></li>
		<li><a href="/fanart">Fanart</a></li>
	</ul>
</nav>
</div>