@font-face {
	font-family: Yrsa;
	src: url('/assets/fonts/Yrsa-VariableFont_wght.ttf');
	// font-weight: 1 900;
	// font-style: normal;
}

@font-face {
	font-family: Jost;
	src: url('/assets/fonts/Jost-VariableFont_wght.ttf');
	// font-weight: 1 900;
	// font-style: normal;
}

@font-face {
	font-family: Varta;
	src: url('/assets/fonts/Varta-VariableFont_wght.ttf');
	// font-weight: 1 900;
	// font-style: normal;
}

@font-face {
	font-family: JostLight;
	src: url('/assets/fonts/Jost-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: JostExtraLight;
	src: url('/assets/fonts/Jost-VariableFont_wght.ttf');
	font-weight: 200;
}

body {
	font-family: Yrsa;
	font-size: 18px;
}

h1,h2,h3,#navlinks, .art-gen__title, .art-gen__date, .post-title {
	font-family: Jost;
 } 

h1 {
	font-size: 56px;
 }

h2 {
	font-size: 36px;
}

header nav {
	font-family: Jost;
	font-size: 34px;
}

.post__date {
	font-family: Varta;
	font-size: 16px;
}

.post__tags {
	font-family: Jost;
	font-size: 20px;
}

.sidebar {
	font-family: Varta;
	font-size: 22px;
}

.sidebar div, .sidebar div a:visited {
	font-family: JostExtraLight;
	font-size: 24px;
	color: #0C2F53;
}

.gallery__description {
	font-size: 26px;
}

.art-gen__desc, .simple__container{
	font-size: 26px;
}

.art-gen__date {
	font-size: 28px;
}

.post__content {
	font-size: 22px;
}

#medium-title {
	font-family: JostLight;
	font-size: 36px;
}

@media screen and (max-width: 1200px) {
	
	.art-gen__title, h1 {
		font-size: 36px;
	}

	.art-gen__desc {
		font-size: 20px;
	}

	.art-gen__date {
		font-size: 20px;
	}
  }

@media screen and (max-width: 600px) {
	header nav {
		font-size: 24px;
	}
}