.gallery__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.gallery__title {
    grid-column: 5 / span 10;
}



.gallery__content {
    grid-column: 3 / span 9;
    background-color: rgba(255,255,255,0.5);
    padding-left: 5em;
    padding-top: 2em;
}

.gallery__description {
    margin-top: 1em;
    margin-bottom: 2em;
}

.gallery__list {
    display: flex;
    flex-wrap: wrap;
}

.index-latest .gallery__list {
    justify-content: space-between;
}

.galleryimg {
    margin: 5px;
    background-color: rgba(75, 67, 90, 0.25);
}

.galleryimg:hover {
    opacity: 50%;
    border: 2px;
}


.art-gen {
display: grid;
grid-template-columns: repeat(12, 1fr);

}

.art-gen__content {
    grid-column: 3 / 12;
    display: grid;
    background-color: rgba(255,255,255,0.5);
}

.art-gen__image-container {
    grid-column: 1 / 12;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 3em;
  
}

.art-gen__image {
    max-height: 80vh;
}

.art-gen__text {
    grid-column: 1 / 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 6em;
}

.art-gen__title {
    grid-column: 2 / 12;
    border-bottom: 2px #89A1BA solid;
    font-size: 56px;
}

.art-gen__date {
    grid-column: 11 / span 12;
    margin-top: 1em;
    margin-right: 2em;
    
}

.art-gen__desc {
    grid-column: 2 / 10;
    font-size: 26px;
    white-space: pre-line;
    
}