#navlinks.active a {
    color: #89A1BA;
    
}

#navlinks a {
    color: #9F699F;
    
}

#navlinks a:hover {

    color: #E3E0A4;
    background-color: #534E72;
}

a {
    color: black;
}

a:hover {
    color: green;
}