#navlinks.active a {
    color: #89A1BA;
    
}

#navlinks a {
    color: #9F699F;
    
}

#navlinks a:hover {
    color: #E3E0A4;
}

a {
    color: #534E72;
}

a:visited {
    color: #534E72;
}

a:hover {
    color: #9F8ADB;
    text-decoration: underline;
}

.post__tags a {
    color: #583758;
}