.blog__container {
    // background-color: beige;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.blog__container h1 {
    padding-top: 1em;
    grid-column: 3 / 11;
    text-align: center;
    background-color: white;
}


.blog__content {
    grid-column: 3 / 10;
   
    
}

.blog__post:first-child {
    // background-color: rgb(110, 46, 46);
    border-radius: 0px 0px 50px 0px;
}

.blog__post {
    background-color: white;
    margin-bottom: 50px;
    border-radius: 0px 50px 50px 0px;
    padding-left: 12em;
    padding-right: 10em;
    padding-top: 5em;
    padding-bottom: 5em;
}

.post__tags li {
    display: flex;
    color: #583758;
   
}

.post__tags, .post__date {
    display: flex;
    justify-content: right;
}

.post__content {
    margin-top: 20px;
    white-space: pre-line;
    // background-color: #89A1BA;
    // display: inline-block;
}

//The h1 on the individual post page was much lower than the other pages that use this
// layout. possibly because there is no h2 to take up space and push elements. 
//So this is a quick solution to that, the titles seem to be in the same place now.

#post__title {
    margin-top: -1.6em; 
}

#individual-post__date {
    margin-top: 9em;
}