---
layout: default
---

<div class="art-gen">
	
		{% include gallery-sidebar.html %}
	
		<div class="art-gen__content" id="dimmable">
			<div class="art-gen__image-container"><img src="{{ page.imagepath }}" alt="{{ page.alttext }}" class="art-gen__image"/></div>
			<div class="art-gen__text">
					<h1 class="art-gen__title"> {{ page.title }} </h1>
					<div class="art-gen__date"> {{ page.date | date: "%-d %b %Y" }} </div>
				<div class="art-gen__desc">{{ page.desc | markdownify }}</div>
			</div>
		</div>
</div>