<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.desc }}">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none' ; manifest-src 'none' ; frame-src 'none' ; worker-src 'none' ; object-src 'none' ; font-src 'self' ; connect-src 'self' ; img-src 'self' ; script-src 'self' ; style-src 'self'">
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="{{ site.title }}">

    <!--<meta property="og:title" content="{{ page.title }} | {{ site.title }}"/>
   
    <meta property="og:url" content="{{ site.url }}"/>-->
   
    <!--<meta property="og:type" content="website"/>-->
    {% seo %}
    <meta property="og:image" content="{{ page.imagepath }}"/>
    <meta property="og:description" content="{{ page.desc }}"/>

</head>
<body>
    <div id="container">
        <header>
            <a href="/index"><button aria-label="home"><img src="/images/logo-icons/logo-new.png" id="logo"/></button></a>
            <nav>
                {% for item in site.data.headerlinks.links %}
                <li class="{% if item.url == page.url %}active{% endif %}" id="navlinks">
                <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
            {% endfor %}
            </nav>
        </header>
    
        <main class="page-content">
            {{ content }}
        </main>
        <footer>
            Damirebly © 2023 - <a href="/credits">Site credits</a>
        </footer>
    </div>
</body>
<script src="/assets/scripts/toggleSidebar.js"></script>
<script src="/assets/scripts/randomize.js"></script>
</html>