---
layout: default
---



<div class="gallery__container">
<div class="gallery__sidebar">
	{% include gallery-sidebar.html %}
</div>
<div class="gallery__content">
	<h1 class="gallery__title">Latest Art</h1>
	<ul class="gallery__list">
  {% assign arts = site.data.artfiles | sort: 'date' | reverse %}
  {% for art in arts %}
    <li>
      <a href="{{ art.title | datapage_url: 'gallery' }}"><img src="{{ art.thumbnail }}" class="galleryimg" alt="{{ art.alttext }} class="></a>
    </li>
   {% endfor %}
</ul></div>

</div>